.login-container {
    margin-top: 50px;
}

.btn-block {
    width: 100%;
    margin-top: 15px; /* Dodajemy odstęp między przyciskiem a polem do hasła */
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 15px;
}

.form-label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 8px;
}

.btn-primary {
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}