.custom-navbar {
    background-color: #f8f9fa;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-nav .nav-link {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-navbar .navbar-brand:hover {
    cursor: pointer;
}

@media (max-width: 991px) {
    .custom-navbar .navbar-nav .nav-link {
        margin-left: 0;
    }
}

.navbar-nav {
    width: 100%;
}

.navbar-nav .ml-auto {
    margin-left: auto;
}