.custom-navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-nav .nav-link {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .custom-navbar .navbar-nav .nav-link {
        margin-left: 0;
    }
}